h1 {
    margin: 30px;
}

h2 {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

header h1{
    max-width: 300px;
    font-size:150%; /*フォントサイズの調整*/
    color:#00aaff; /*文字色の変更*/
    padding-top: 10px; /*文字上部に余白*/
    padding-bottom: 10px; /*文字下部に余白*/
    padding-left: 20px; /*文字左側に余白*/
    padding-right: 20px; /*文字右側に余白*/
    border:2px solid #000; /*文字の周りに線を描く*/
    border-radius: 5px; /*線の角に丸みを付ける*/
    letter-spacing: 3px; /*文字と文字の間隔をあける*/
    font-weight:400; /*文字の太さの変更*/
}

header h1 a{
    text-decoration: none;
    color:#000;
}

nav{
    width: 100%;    /*横幅の指定*/
    border-top: 1px solid #00aaff;   /*上部の線の色を指定*/
    border-bottom: 1px solid #00aaff;    /*下部の線の色を指定*/
    margin-bottom: 5px;
    overflow: hidden;
}
nav ul{
    width: 80%;
    margin-left: 10%;
}
nav li{
    min-width: 150px;
    border: 0px;  /*線を描く*/
    text-align: center; /*文字を中央に*/
    float: left;    /*左から並べる*/
}

nav a{
    display: block; /*1つのli全体にリンクを有効にする*/
    text-decoration: none;  /*ブラウザ標準のリンク装飾をオフに*/
    color:#313131;  /*文字色の変更*/
    font-size: 110%;    /*フォントサイズの指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-weight: 400;   /*文字の太さを調整*/
    line-height: 45px;  /*行間の指定（ナビボタンの高さ指定）*/
}
nav a:hover{
    background-color: #00aaff;   /*背景色の指定*/
    color: #555;    /*文字色の変更*/
    transition: 0.5s;   /*ホバー時の動きをなめらかにする*/
}


.main_visual img{
    width: 100%;
    margin-top: 20px;
}

#myimage {
    width: 150px;
}

#rank {
    margin: 30px;
}

table thead tr th{
    padding: 10px;
    border: 1px solid;
}

table tbody tr td{
    padding: 10px;
    border: 1px solid;
}

.introduction {
    margin: 20px;
    padding: 20px;  
}

#name {
    font-size: 24px;
}

.inline {
    display: inline-block;
}

p {
    margin: 20px;
}

