
.center {
	margin-left: 150px;
}

p {
	margin: 0 0 10px 0;
}

body {
	background-color: #fffff0;
	font-family: 'sans-serif';
}

.button {
  display       : inline-block;
  font-size     : 10pt;       
  text-align    : center;     
  cursor        : pointer;
  padding       : 9px 12px;
  background    : #6699ff;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 2px 2px 8px #666666;
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
}


#back {
	margin:0 auto;
	text-align: center;
	display:block;
}

.form {
	margin: 0 auto;
	text-align: center;
	/* フォームの範囲がわかるようにする */
	  padding: 1em;
	  width: 400px;
	  border: 1px solid #CCC;
	  border-radius: 1em;
}
.container {
	margin: 20px auto;
	text-align: center;
}

.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}